@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
}

.main
{
    display: flex;
}


.left
{
    background-color: #FAFBFD;
    width: 20%;
    height: 100vh;
}    

.left_header
{
    
    height: 30px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
}

.head
{
    display: flex;
}

.he1
{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    width: 24%;
    color: #F7542E;
}

.he2
{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    width: 76%;
    color: #090F31;
}

.left_body
{
    padding-top: 115px;
    padding-left: 93px;
}

.list
{
    list-style-type: none;
    padding-bottom: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: #9E9E9E;

}

.list2
{
    list-style-type: none;
    padding-bottom: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    color: #090F31;
}

.right
{
    width: 80%;   
}

.bottom
{
    padding-left: 115px;
    padding-top: 60px;
}


.head2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #4F4F4F;
    size: 24px;
}

.line1
{
    display: flex;
}

.text1
{
    color: #333333;
    font-family: 'Ubuntu Mono', monospace;
    size: 12px;
}

.bt1
{
    color: #3F3F3F;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}


.b2
{
    padding-left: 15vw;
}

.text2
{
    color: #828282;
    font-family: 'Ubuntu Mono', monospace;
    size: 12px;
}

.bt2
{
    color: #3F3F3F;
    background-color: #AEAEAE;
    border-color: #AEAEAE;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.line2
{
    display: flex;
    padding-top: 6vh;
}

.bt3
{
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border-color: #007bff;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.b4
{
    padding-left: 85px;
}

.bt4
{
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgba(41, 98, 255, 0.1);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border-color: #007bff;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.line3
{
    display: flex;
    padding-top: 6vh;
}

.bt5
{
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.b6
{
    padding-left: 106px;
}

.bt6
{
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgba(41, 98, 255, 0.1);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border-color: white;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.line4
{
    padding-top: 6vh;
}

.bt7
{
    color: #fff;
    background-color: #3D5AFE;
    border-color: #3D5AFE;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s
}

.line5
{
    padding-top: 6vh;
    display: flex;
}

.bt8
{
    color: #9E9E9E;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.b9
{
    padding-left: 150px;
}

.bt9
{
    color: #9E9E9E;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
    font-family: 'Noto Sans JP', sans-serif;
}

.line6
{
    padding-top: 6vh;
    display: flex;
}

.bt10
{
    color: #fff;
    background-color: #3D5AFE;
    border-color: #3D5AFE;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s
}

.b11
{
    padding-left: 150px;
}

.line7
{
    padding-top: 6vh;
    display: flex;
}

.b13
{
    padding-left: 150px;
}

.b14
{
    padding-left: 150px;
}

.line8
{
    padding-top: 6vh;
    display: flex;
}

.b16
{
    padding-left: 70px;
}

.b17
{
    padding-left: 70px;
}

.b18
{
    padding-left: 70px;
}

.line9
{
    padding-top: 6vh;
    display: flex;
}

.b20
{
    padding-left: 158px;
    padding-top: 25px;
}

.b21
{
    padding-left: 208px;
    padding-top: 25px;
}

.b22
{
    padding-left: 201px;
    padding-top: 25px;
}

.myname
{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    size: 14px;
    color: #828282;
}