@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 14vh;
    width: 100%;
}

.header_container {
    height: 100%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.header_left {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.header_left h1 {
    color: var(--gray-1, #333);
    font-size: 36px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header_right { 
    height: 100%;
    width: 70%;
}

.header_list {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.header_list li {
    list-style: none;
    padding-left: 55px;
    color: var(--gray-1, #333);
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main {
    height: 670vh;
    width: 100%;
}

.main_container {
    height: 100%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.main_box1 {
    padding-left: 245px;
    padding-top: 50px;
    width: 40%;
}

.main_box1_upper {
    width: 100%;
}

.main_box1_upper p {
    color: #2D9CDB;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box1_lower {
    width: 100%;
    padding-top: 20px;
}

.main_box1_lower p {
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box2 {
    padding-top: 25px;
}

.main_box2 img {
    cursor: pointer;
    border-radius: 18px;
    width: 100%;
    height: auto;
    background: url(heroimage.jpg), lightgray 50% / cover no-repeat;
}

.main_box3 {
    padding-left: 245px;
    padding-top: 50px;
    width: 28%;
}

.main_box3_upper p {
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box3_middle { 
    padding-top: 25px;
} 

.main_box3_middle p {
    color: var(--gray-2, #4F4F4F);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_box3_lower_text {
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.main_box3_lower_email {
    display: flex;
}

.main_box3_lower_email input {
    width: 350px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 12px;
    border-width: 0;
    background: var(--gray-6, #F2F2F2);
    color: var(--gray-4, #BDBDBD);
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
}

.main_box3_lower_email button {
    position: relative;
    top: 5px;
    right: 100px;
    width: 94px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 12px;
    border-color: #2D9CDB;
    border-width: 0;
    background: #2D9CDB;
    color: var(--gray-6, #F2F2F2);
    font-size: 18px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box3_lower_text p {
    color: var(--gray-6, #828282);
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box4 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.main_box4_item1 {
    padding-top: 120px;
    width: 30%;
}

.main_box4_item1 p {
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box4_item2 {
    padding-top: 50px;
    display: flex;
}

.main_box4_item2_container {
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
}

.card {

    padding: 30px 61px;
}

.card:hover {
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card_image img {
    cursor: pointer;
    height: 40px;
    width: auto;
    border-radius: 25%;
}

.card_content h2 {
    padding-top: 20px;
    color: #333;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_content p {
    padding-top: 20px;
    color: var(--gray-2, #4F4F4F);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_button {
    padding-top: 20px;

}

.card_button button {
    width: 116px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 12px;
    border-width: 0;
    background: #E0E0E0;
    cursor: pointer;
    color: #828282;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card:hover>.card_button button {
    background: #2D9CDB;
    transition: 0.3s;
    color: #FFF
}

.main_box4_item3 {
    width: 35%;
    padding-top: 80px;
}

.main_box4_item3 p {
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box4_item4 {
    height: 100%;
    width: 100%;
}

.main_box4_item4_imagebox1 {
    display: flex;
    height: 100%;
    width: 100%;
}

.image1 {
    padding-top: 190px;
}

.image1 img {
    cursor: pointer;
    display: inline-flex;
    height: 600px;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
}

.image1 p {
    padding-top: 10px;
    color: var(--gray-3, #828282);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.image1 h2 {
    padding-top: 5px;
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image2 {
    padding-left: 32px;
}

.image2 img {
    cursor: pointer;
    display: inline-flex;
    height: 600px;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
}

.image2 p {
    padding-top: 10px;
    color: var(--gray-3, #828282);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.image2 h2 {
    padding-top: 5px;
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box4_item4_imagebox2 {
    display: flex;
    height: 100%;
    width: 100%;
}

.image3 {
    padding-top: 190px;
}

.image3 img {
    cursor: pointer;
    display: inline-flex;
    height: 620px;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
}

.image3 p {
    padding-top: 10px;
    color: var(--gray-3, #828282);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.image3 h2 {
    padding-top: 5px;
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image4 {
    padding-left: 32px;
}

.image4 img {
    cursor: pointer;
    display: inline-flex;
    height: 600px;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
}

.image4 p {
    padding-top: 10px;
    color: var(--gray-3, #828282);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.image4 h2 {
    padding-top: 5px;
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link {
    display: flex;
    align-items: center;
    justify-content: end;
}

.link p {
    color: #2D9CDB;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link img {
    cursor: pointer;
    padding-left: 20px;
    height: 5px;
    width: 20px;
}

.main_box5 {
    display: flex;
    padding-top: 90px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%
}

.box5_left {
    padding-top: 180px;
}

.box5_left h2 {
    color: #EB5757;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box5_left h1 {
    width: 275px;
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box5_left p {
    width: 275px;
    color: var(--gray-2, #4F4F4F);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box5_right {
    display: flex;
    padding-left: 241px;

}

.box5_image1 {
    padding-top: 133px;
}

.box5_image1 img {
    cursor: pointer;
    width: 351.429px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 24px;
}

.imagebox2 {
    padding-left: 22px;
}

.box5_image2 img {
    cursor: pointer;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 24px;
}

.box5_image3 {
    padding-top: 15px;
}

.box5_image3 img {
    cursor: pointer;
    width: 341.429px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 24px;
}

.main_box6 {
    width: 90%;
    padding-top: 140px;
    padding-left: 5%;
    padding-right: 5%;
}

.main_box6_content {
    width: 70%;
}

.main_box6_content p {
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_box6_end {
    display: flex;
    padding-top: 40px;
}

.box6_image img {
    cursor: pointer;
    width: 80px;
    height: auto;
    flex-shrink: 0;
    border-radius: 12px;
}

.box6_image_data {
    padding-left: 30px;
}

.box6_image_data h2 {
    color: var(--gray-1, #333);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box6_image_data p {
    padding-top: 5px;
    color: var(--gray-3, #828282);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.footer {
    height: 40vh;
    width: 100%;
    background-color: #100E1D;
}

.top_footer {
    height: 90%;
}

.top_footer_container {
    height: 100%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.top_footer_left {
    height: 100%;
    width: 33.333333%;
}

.footer_left_list {
    padding-top: 5vh;
}

.li_1 {
    color: #FFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    list-style: none;
}

.top_footer_middle {
    height: 100%;
    width: 33.333333%;
}

.footer_middle_text {
    padding-top: 5vh;
}

.footer_middle_text p {
    color: var(--gray-6, #F2F2F2);
    font-size: 36px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer_middle_logo img {
    padding-right: 10px;
    cursor: pointer;
}

.top_footer_right {
    height: 100%;
    width: 33.333333%;
}

.footer_right_text {
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.footer_right_email {
    display: flex;
}

.footer_right_email input {
    width: 350px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 12px;
    border-width: 0;
    background: var(--gray-6, #F2F2F2);
    color: var(--gray-4, #BDBDBD);
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
}

.footer_right_email button {
    position: relative;
    top: 5px;
    right: 100px;
    width: 94px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 12px;
    border-color: #2D9CDB;
    border-width: 0;
    background: #2D9CDB;
    color: var(--gray-6, #F2F2F2);
    font-size: 18px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_right_text p {
    color: var(--gray-6, #F2F2F2);
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottom_footer {
    height: 10%;
}

.bottom_footer p {
    color: #F2F2F2;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media(max-width : px)
{

}