*
{
    margin: 0;
    padding: 0;
}

.header
{
    background-color: black;
    height: 20vh;
    width: 100%;
}

.text
{
    color: white;
}

.main
{
    background-color: black;
    height: 70vh;
    width: 100%
}

.footer
{
    background-color: black;
    height: 10vh;
    width: 100%
}