@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
}

.header
{
    background-color: black;
    height: 10vh;
    width: 100%;
}

.sizing
{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 5vh;
    display: flex;
}

.left_head
{
    width: 20vw;
}

.head_button
{
    color: white;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    width: 110px;
    font-family: 'Crimson Pro', serif;
    display: flex;
    justify-content: center;
}

.head_button:hover
{
    font-weight: 500;
    cursor: pointer;
}

.right_head
{
    width: 76vw;
}

.right_head_data
{
    padding-top: 1vh;
}

.head_list
{
    display: flex;
}

.head_list
{
    gap: 86px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.head_list li a
{
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.head_list li a:hover
{
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

.main
{
    background-color: black;
    height: 80vh;
    width: 100%
}

.container2
{
    height: 60vh;
    padding-left: 4vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 4vw;
    display: flex;
}

.main_left
{
    height: 60vh;
    width: 36vw;
}

.main_right
{
    height: 60vh;
    width: 56vw;
}

.footer
{
    background-color: black;
    height: 10vh;
    width: 100%
}

.footer_data
{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9A9A9;
    ;
}