@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    height: 10vh;
    width: 100%;
}

.sizing {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 5vh;
    display: flex;
}

.left_head {
    width: 15vw;
}

.head_button {
    color: white;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    width: 110px;
    font-family: 'Crimson Pro', serif;
    display: flex;
    justify-content: center;
}

.head_button:hover {
    font-weight: 500;
    cursor: pointer;
}

.right_head {
    width: 65vw;
}

.right_head_data {
    padding-top: 1vh;
}

.head_list {
    display: flex;
}

.head_list {
    gap: 86px;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.head_list li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.head_list li a:hover {
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

.main {
    background-color: black;
    height: 100vh;
    width: 100%
}

.container2 {
    height: 80vh;
    padding-left: 10vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 10vw;
    display: flex;
}

.main_left {
    height: 80vh;
    width: 30vw;
}

.main_left_head {
    padding-top: 125px;
}

.main_left_head h2 {
    color: white;
    font-family: Lora;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}

.main_left_content {
    padding-top: 3vh;
    width: 25vw;
}

.main_left_content p {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.main_left_link {
    padding-top: 4vh;
}

.main_left_link a {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

.main_right {
    height: 80vh;
    width: 50vw;
}

.main_right_image {
    height: 51vh;
    width: 50vw;
    display: flex;
    justify-content: end;
}

.main_right_image img {
    height: 60vh;
    width: auto;
}

.main_right_container {
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: end;
}

.sizing2 {
    padding-right: 27px;
}

.main_right_box {
    width: 23vw;
    height: 12vh;
    display: flex;
    background: #181719;

}

.photo2 {
    padding-left: 20px;
    padding-top: 13px;
}

.photo2 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.name_desig {
    width: 70%;
    padding-left: 15px;
    padding-top: 15px;
}

.text1 {
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.text2 {
    color: #828282;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 5px;
}

.design_by {
    width: 23vw;
    background: #181719;

}

.text3 {
    width: 15vw;
    color: white;
    font-family: Lora;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 20px;
}

.footer {
    background-color: black;
    height: 10vh;
    width: 100%
}

.footer_data {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9A9A9;
}

@media(max-width : 1300px) {
    .main {
        height: 150vh;
    }

    .container2 {
        height: 130vh;
        display: block;
    }

    .main_left {
        height: 60vh;
        width: 58vw;
        padding-right: 12vw;
        padding-left: 12vw;
    }

    .main_left_content {
        padding-top: 3vh;
        width: 58vw;
    }

    .main_right {
        height: 80vh;
        width: 80vw;
    }

    .main_right_image {
        height: 51vh;
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .main_right_container {
        width: 58vw;
    }

    .main_right_box {
        width: 34vw;
    }

    .design_by {
        width: 34vw;
    }

    .text3 {
        width: 27vw;
    }
}

@media(max-width : 892px) {

    .header
    {
        height: 100vh;
    }

    .head_list {
        flex-direction: column;
    }

    .right_head_data {
        padding-top: 26vh;
    }

    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 22px;
    }

    .line {
        width: 33px;
        background-color: white;
        height: 4px;
        margin: 5px 3px;
    }

    .main_right_image {
        height: 38vh;
    }

    .main_right_image img {
        height: 45vh;
        width: auto;
    }

    .main_right_container {
        width: 63vw;
    }

    .main_right_box {
        width: 47vw;
    }

    .design_by {
        width: 47vw;
    }

    .text3 {
        width: 38vw;
    }

    .nav_height
    {
        height: 10vh;
    }

    .nav_visi
    {
        opacity: 0;
    }

    .left_head_width
    {
        width: 10vw;
    }
}

@media(max-width : 550px)
{
    .main{
        height: 106vh;
    }
    .container2
    {
        height: 108vh;
    }
    .main_right{
        height: 76vh;
    }
    .main_right_image img {
        height: 33vh;
        width: auto;
    }
    .main_left
    {
        height: 36vh;
        width: 68vw;
        padding-left: 0;
        padding-right: 12vw;
    }

    .main_left_content p
    {
        font-size: 12px;
        line-height: 18px;
        font-weight: 200;
    }

    .main_left_head{
        padding-top: 0;
    }

    .main_left_head h2
    {
        font-size: 35px;
    }

    .main_right_image{
        height: 30vh;
    }

    .main_right_container
    {
        width: 76vw;
    }

    .main_right_box{
        width: 54vw;
    }

    .design_by
    {
        width: 54vw;
    }
}